@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-darker: #695cfe;
    --primary-color-light: #564bcd5d;
    --toggle-color: #595555;
    --text-color: #f6f5ff;
    --tran-duration: all 0.5s ease;
  }
  
  /* body {
    background: var(--body-color);
  } */


  /* Root.css */
.modal {
  z-index: 1050 !important;
}

.sidebar {
  z-index: 1100;
}

